dist: bionic
language: python
python:
- '3.6'
install:
- pip install poetry nuitka
- poetry config settings.virtualenvs.create false
- poetry install
script:
- echo "TBD"
before_deploy:
- poetry build
deploy:
- provider: script
  skip_cleanup: true
  script: poetry publish --username $PYPY_USER --password $PYPI_PASS
  on:
    branch: master
env:
  global:
  - secure: IdquzyErTO2tsx/4Tdl3vhWvejq4+KLJgo9sxokG2506teh3iOWcuRfwBm2GPTHzuyrK02KzmLj9B2M8+ihOkSXKv332sZc0QxPyIcBrjrHOHu1242fKvvugXw0RDqaSkj4s1hPT+/hhYK8kxLHyIEnoXJ5uWLt78ya3IicZ9cX4d3jlXch317S4u8dM3O4n3Dmht3b+znSeJyzwnHArJmFjuUOCRr7CYPCxWLAVRro5zLAioCSfhRlbjhIiI5l1Ar0PL13a/zVHI0fP5U2XGbSO4rHLxX9JLkudfGrUniD79tzX+SiZd31Es6JSXxZ/hYsVpbtmKB6JSM0TOwKb0Mf5zr470wbP34X4BmaNfTXyKL2o5lTzChwnxS9K43CkYM3rLSSXRow7FTcyXgLhjxECUghKYDob3oZhaMMCaXuyQO4qFY1BNmM3LOcKvtURQIuzi6OhiQV3SSObPGrv5VMqkaHLjAOMTILfNZEfWddDzQzH6EIRzIxoVA6niU2XhC6hqfpjHrae1gJS6p83sLe7zEk4Ox+h764I6NHWNJ5Wn6i0NUfVvx6B5fVoStyg/Sxi2lbYbMrWP2zDN0GhYLNXjoRUYiLIYaOPNYTLMM+oCAw9tDwST1dqS+SCZU4F9XKB2yNT7DYVp+19cqN+1+kakKUGqonFP8e3zf+WEQQ=
  - secure: K4io0IZ6Rov8ko0HWvBeD71nh2E4bn6raeCzXFM2B4NNCI1DvlkqX93S3INPRhmi9a3ZE8p29SFw+RHgX48nikx9HGb77EKpYkLbBtU7KcCOCjf+M37O4qM1OEteB3uCkX8em9I9Cz/oPgpbafcz2bqRbDYwKi/nxnBTGZF41ebntMXHj1vXXy4xK6gwWjIsB3Be4/Ss41bkV342qcZU/SDqgcTbPfOre9VuFWl3o2nRqiBiDd/sXFA3CncEx6KsPBui4PcL31jJne+pgELJfb2ulcEXVE71btBcCotdJQ6sLO75+iQcyIirLUEW6RaPXYBC02RvxLDQgiEe8Isv1cW1up+h/meTMP/NVhStd7BYpcgOYDreYR8zrBlqillSz5xICtfq28g91UKYFcTf5lJZo7wxNuODkt2/L50oGeapczy/uBozyrPRgNKYr4EZPbOZBsPMkxM+vJ8+/XfaXYT4mNkSH/dePdpIFZyFwkYqJDTEUOAcbojqFmt0rIqVUNFXOonbvJr4VZ9Fqj8slZqupAoY2cy72XqIBHsVzK6su+2HY7FvxyPdQ/Rgz4xiBJGTdqK1KJVWlc2PPUFRL1weV0GJLB5sW8Pr2q1msRHa8mwYGO28v1OTJwhEb3oHVkOxwTenPoDYHEf3XMLATmF0+uD9H/8CFXZ4wFl1V0k=
